<head>
    <link rel="stylesheet" href="/css/admin/nav.css">
    <link rel="stylesheet" href="/css/admin/eventos.css">
</head>
<nav class="navbar-admin">
    <div class="nav-container">
        <div class="logo-container">
            <img src="/assets/logos/logo.svg" alt="Pouso Obras Sociais" class="nav-logo">
        </div>
        <div class="nav-direita">
            <a href="/admin/eventos" class="nav-voltar-btn">
                <i class="fas fa-arrow-left"></i>
                Voltar para Eventos
            </a>
        </div>
    </div>
</nav>

<main class="container">
    <section class="lista-itens">
        <div class="items-box">
            <div class="cabecalho-formulario">
                <h2><i class="fas fa-edit"></i> Editar Evento</h2>
                <a href="/admin/eventos" class="voltar-inicio">
                    <i class="fa-solid fa-left-long"></i> Voltar para Listagem
                </a>
            </div>
            <form action="/admin/eventos/editar/{{evento.id}}" method="POST" enctype="multipart/form-data">
                <div class="grupo-input">
                    <label>Nome do Evento:</label>
                    <input type="text" name="nome" placeholder="Ex: Festa Junina" value="{{evento.nome}}" required>
                </div>

                <div class="grupo-input">
                    <label>Horário:</label>
                    <input type="time" name="horario" value="{{evento.horario}}" required>
                </div>

                <div class="grupo-input">
                    <label>Dia da Semana:</label>
                    <input type="text" name="diaSemana" placeholder="Ex: Sábado" value="{{evento.diaSemana}}" required>
                </div>

                <div class="grupo-input">
                    <label>Data:</label>
                    <input type="date" name="prazo" value="{{evento.data}}" required>
                </div>

                <div class="grupo-input">
                    <label>Foto Atual:</label>
                    {{#if evento.foto}}
                        <img src="data:image/jpeg;base64,{{evento.foto}}" alt="{{evento.nome}}" class="evento-imagem">
                    {{else}}
                        <p>Nenhuma imagem cadastrada.</p>
                    {{/if}}
                </div>

                <div class="grupo-input">
                    <label>Nova Foto:</label>
                    <input type="file" name="foto">
                </div>

                <div class="botoes-acao">
                    <button type="submit" class="btn-adicionar">
                        <i class="fas fa-save"></i> Salvar Alterações
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>