<head>
    <link rel="stylesheet" href="/css/mantimento.css">
</head>
<nav class="navbar-admin">
    <div class="nav-container">
        <div class="logo-container">
            <img src="/assets/logos/logo.svg" alt="Pouso Obras Sociais" class="nav-logo">
        </div>

        <div class="nav-direita">
            <a href="/admin" class="nav-voltar-btn">
                <i class="fas fa-arrow-left"></i>
                Voltar ao Painel Administrativo
            </a>
        </div>
    </div>
</nav>

<main class="container">
    <!-- Conteúdo da Página de Edição -->
    <section class="lista-itens">
        <div class="items-box">
            <div class="cabecalho-formulario">
                <h2><i class="fas fa-edit"></i> Editar Item</h2>
                <a href="/admin/mantimentos/show" class="voltar-inicio">
                    <i class="fa-solid fa-left-long"></i> Voltar para Listagem
                </a>
            </div>

            <form id="form-editar" action="/admin/mantimentos/edit/{{mantimento.id_mantimento}}" method="POST">

                <div class="grupo-input">
                    <label>Nome do Produto:</label>
                    <input type="text" name="nome" value="{{mantimento.produto}}" required>
                </div>

                <div class="grupo-input">
                    <label>Descrição:</label>
                    <textarea name="descricao">{{mantimento.descricao}}</textarea>
                </div>

                <div class="grupo-input">
                    <label>Categoria:</label>
                    <select name="categoria" id="categoria-produto" selected="{{mantimento.categoria}}">
                        <option value="alimentos" {{#if (eq mantimento.categoria "alimentos" )}}selected{{/if}}>
                            Alimentos</option>
                        <option value="bebidas" {{#if (eq mantimento.categoria "bebidas" )}}selected{{/if}}>Bebidas
                        </option>
                        <option value="pereciveis" {{#if (eq mantimento.categoria "pereciveis" )}}selected{{/if}}>
                            Perecíveis</option>
                    </select>
                </div>

                <div class="grupo-input">
                    <label>Data de entrada:</label>
                    <input type="date" id="data-produto" name="data" value="{{mantimento.data}}" max="{{dataAtual}}"
                        required>
                </div>

                <div class="grupo-input-duplo">
                    <div class="grupo-input">
                        <label>Quantidade:</label>
                        <input type="number" name="quantidade" min="1" value="{{mantimento.quantidade}}" required>
                    </div>

                    <div class="grupo-input">
                        <label>Doador:</label>
                        <input type="text" name="doador" value="{{mantimento.doador}}" required>
                    </div>

                    <div class="grupo-input">
                        <label>Telefone:</label>
                        <input type="tel" name="telefoneDoador" value="{{mantimento.telefoneDoador}}" required>
                    </div>
                </div>

                <div class="botoes-acao">
                    <button type="submit" class="btn-adicionar">
                        <i class="fas fa-save"></i> Salvar Alterações
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>