<head>
    <link rel="stylesheet" href="/css/farmacia.css">
</head>
<nav class="navbar-admin">
    <div class="nav-container">
        <div class="logo-container">
            <img src="/assets/logos/logo.png" alt="Pouso Obras Sociais" class="nav-logo">
            <div>
                <span class="span-text">Gestão Farmacêutica</span>
                <span class="logo-text">Sistema de controle farmacêutico</span>
            </div>
        </div>

        <div class="middle-section-nav">
            <div>
                <a href="/admin" class="middle-section-nav-button">
                    <i class="fa-solid fa-bed-pulse"></i>
                    <span>Pacientes</span>
                </a>
            </div>
            <div>
                <a href="/admin" class="middle-section-nav-button">
                    <i class="fa-solid fa-suitcase-medical"></i>
                    <span>Equipamentos</span>
                </a>
            </div>
            <div>
                <a href="/admin" class="middle-section-nav-button">
                    <i class="fa-solid fa-mask-face"></i>
                    <span>EPIs</span>
                </a>
            </div>
        </div>

        <div class="nav-direita">
            <div class="usuario-info">
                <div class="dados-usuario">
                    <span class="usuario">Cpf: {{session.user.cpf}}</span>
                    <span class="usuario">Nome: {{session.user.nome}}</span>
                    <span class="usuario">Nível: {{session.user.nivel}}</span>
                </div>
                <a href="/admin" class="nav-voltar-btn-novo">
                    <i class="fas fa-arrow-left"></i>
                    <span>Voltar ao Painel Administrativo</span>
                </a>
            </div>
        </div>
    </div>
</nav>

<main>
    <section class="section-principal">
        <div class="search-container">
            <div class="search-bar-container">
                <form action="/admin/farmacia" class="search-bar-form" method="get">
                    <input type="text" name="search" class="search-input" placeholder="Pesquisar...">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <a href="/admin/farmacia" class="limparPesquisa">Limpar Pesquisa</a>
            </div>
            <div class="order-container">
                <span class="order-span"> Ordenar por: </span>
                <form action="/admin/farmacia" method="get">
                    <input type="hidden" name="search" value="{{this.search}}">
                    <input type="hidden" name="order" value="new">
                    <button type="submit" class="order-button">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                </form>
                <form action="/admin/farmacia" method="get">
                    <input type="hidden" name="search" value="{{this.search}}">
                    <input type="hidden" name="order" value="old">
                    <button type="submit" class="order-button">
                        <i class="fas fa-arrow-down"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="farm-container">
            <div class="farm-title-content">
                <span class="farm-title"> <i class="fa-solid fa-pills"></i> Controle de Medicamentos</span>
                <a class="button-novo"> <i class="fa-solid fa-plus"></i> Novo </a>
            </div>
            {{#each farmaciaAjeitados}}
            <div class="table-farm-container">
                <div class="table-farm">
                    <div class="table">
                        <strong class="strong-table">Nome do Medicamento:</strong>
                        <div class="div-table">{{nome}}</div>
                    </div>
                    <div class="table">
                        <strong class="strong-table">Quantidade:</strong>
                        <div class="div-table">{{quantidade}}</div>
                    </div>
                    <div class="table">
                        <strong class="strong-table">Concentração:</strong>
                        <div class="div-table">{{concentracao}}</div>

                    </div>
                    <div class="table">
                        <strong class="strong-table">Tipo:</strong>
                        <div class="div-table">{{tipo}}</div>

                    </div>
                    <div class="table">
                        <strong class="strong-table">Categoria:</strong>
                        <div class="div-table">{{categoria}}</div>

                    </div>
                    <div class="table">
                        <strong class="strong-table">Controle especial:</strong>
                        <div class="div-table">{{#if controleEspecial}}Sim{{else}}Não{{/if}}</div>

                    </div>
                    <div class="table">
                        <strong class="strong-table">Data de validade:</strong>
                        <div class="div-table">{{data_validade}}</div>
                    </div>
                </div>
                <div>
                    <a><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a>
                </div>
            </div>
            {{/each}}
        </div>
    </section>

</main>
<footer>
    <div class="footer-container">
        <a class="footer-voltar" href="/admin">
            <i class="fas fa-arrow-left"></i>
            Voltar
        </a>
        <div class="footer-icons">
            <div>
                <a href="/admin" class="footer-button">
                    <i class="fa-solid fa-bed-pulse"></i>
                    <span>Pacientes</span>
                </a>
            </div>
            <div>
                <a href="/admin" class="footer-button">
                    <i class="fa-solid fa-suitcase-medical"></i>
                    <span>Equipamentos</span>
                </a>
            </div>
            <div>
                <a href="/admin" class="footer-button">
                    <i class="fa-solid fa-mask-face"></i>
                    <span>EPIs</span>
                </a>
            </div>
        </div>
    </div>
</footer>