<head>
    <link rel="stylesheet" href="/css/epi.css">
</head>
<nav class="navbar-admin">
    <div class="nav-container">
        <div class="logo-container">
            <img src="/assets/logos/logo.png" alt="Pouso Obras Sociais" class="nav-logo">
            <div>
                <span class="span-text">Gestão Farmacêutica</span>
                <span class="logo-text">Sistema de Controle Farmacêutico</span>
            </div>
        </div>

        <div class="middle-section-nav">
            <div>
                <a href="/admin/farmacia/medicamentos" class="middle-section-nav-button">
                    <i class="fa-solid fa-pills"></i>
                    <span>Fármacos</span>
                </a>
            </div>
            <div>
                <a href="/admin/farmacia/equipamentos" class="middle-section-nav-button">
                    <i class="fa-solid fa-suitcase-medical"></i>
                    <span>Equipamentos</span>
                </a>
            </div>
            <div>
                <a href="/admin/farmacia/pacientes" class="middle-section-nav-button">
                    <i class="fa-solid fa-bed-pulse"></i>
                    <span>Pacientes</span>
                </a>
            </div>
        </div>

        <div class="nav-direita">
            <div class="usuario-info">
                <div class="dados-usuario">
                    <span class="usuario">Cpf: {{session.user.cpf}}</span>
                    <span class="usuario">Nome: {{session.user.nome}}</span>
                    <span class="usuario">Nível: {{session.user.nivel}}</span>
                </div>
                <a href="/admin" class="nav-voltar-btn-novo">
                    <i class="fas fa-arrow-left"></i>
                    <span>Voltar ao Painel Administrativo</span>
                </a>
            </div>
        </div>
    </div>
</nav>
<main>
    <section class="section-principal">
        <div class="search-container">
            <div class="search-bar-container">
                <form action="/admin/farmacia/epi" class="search-bar-form" method="get">
                    <input type="text" name="search" class="search-input" placeholder="Pesquisar...">
                    <select name="column" id="column">
                        <option value="nome">Nome</option>
                        <option value="categoria">Categoria</option>
                    </select>
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <a href="/admin/farmacia/epi" class="limparPesquisa">Limpar Pesquisa</a>
            </div>
            <div class="order-container">
                <span class="order-span"> Ordenar por: </span>
                <form action="/admin/farmacia/epi" method="get">
                    <input type="hidden" name="search" value="{{this.search}}">
                    <input type="hidden" name="order" value="new">
                    <button type="submit" class="order-button">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                </form>
                <form action="/admin/farmacia/epi" method="get">
                    <input type="hidden" name="search" value="{{this.search}}">
                    <input type="hidden" name="order" value="old">
                    <button type="submit" class="order-button">
                        <i class="fas fa-arrow-down"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="farm-container">
            <div class="farm-title-content">
                <span class="farm-title"><i class="fa-solid fa-boxes-stacked"></i> Controle de Materiais</span>
                <a class="button-novo" href="#"> <i class="fa-solid fa-plus"></i> Novo</a>
            </div>

            {{#each EpiAjeitados}}
            <div class="table-farm-container">
                <div>
                    <a href="#"><i class="fas fa-edit edit"></i></a>
                </div>
                <div class="table-farm">
                    <div class="table">
                        <strong class="strong-table">Nome do Material:</strong>
                        <div class="div-table">{{nome}}</div>
                    </div>
                    <div class="table">
                        <strong class="strong-table">Categoria:</strong>
                        <div class="div-table">{{categoria}}</div>
                    </div>
                    <div class="table">
                        <strong class="strong-table">Quantidade:</strong>
                        <div class="div-table">{{quantidade}}</div>
                    </div>
                    <div class="table">
                        <strong class="strong-table">Data de Cadastro:</strong>
                        <div class="div-table">{{data}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</main>