<link rel="stylesheet" href="/css/editar-site.css">

<form action="/admin/site/editar" method="POST">
    <!-- Seção Sobre -->
    <div class="section">
        <div class="cadastradas-container">
            <div class="cadastro-title-content">
                <span class="cadastro-title"><i class="fa-solid fa-info-circle"></i> Seção Sobre</span>
            </div>
        </div>
        <div class="table-farm-container">
            <div class="table-farm">
                <div class="titulo-editar">Título:</div>
                <input class="table-input" name="titulo_sobre" value="{{site.titulo_sobre}}"/>
                <div class="titulo-editar">Conteúdo:</div>
                <textarea class="table-input" name="conteudo_sobre">{{site.conteudo_sobre}}</textarea>
            </div>
        </div>
    </div>

    <!-- Seção Serviços -->
    <div class="section">
        <div class="cadastradas-container">
            <div class="cadastro-title-content">
                <span class="cadastro-title"><i class="fa-solid fa-concierge-bell"></i> Seção Serviços</span>
            </div>
        </div>
        <div class="table-farm-container">
            <div class="table-farm">
                <div class="titulo-editar">Título:</div>
                <input class="table-input" name="titulo_servicos" value="{{site.titulo_servicos}}"/>
                <div class="titulo-editar">Conteúdo:</div>
                <textarea class="table-input" name="conteudo_servicos">{{site.conteudo_servicos}}</textarea>
            </div>
        </div>
    </div>

    <!-- Seção Horários -->
    <div class="section">
        <div class="cadastradas-container">
            <div class="cadastro-title-content">
                <span class="cadastro-title"><i class="fa-solid fa-clock"></i> Seção Horários</span>
            </div>
        </div>
        <div class="table-farm-container">
            <div class="table-farm">
                <div class="titulo-editar">Título:</div>
                <input class="table-input" name="titulo_horarios" value="{{site.titulo_horarios}}"/>
                <div class="titulo-editar">Conteúdo:</div>
                <textarea class="table-input" name="conteudo_horarios">{{site.conteudo_horarios}}</textarea>
            </div>
        </div>
    </div>

    <!-- Seção Contato -->
    <div class="section">
        <div class="cadastradas-container">
            <div class="cadastro-title-content">
                <span class="cadastro-title"><i class="fa-solid fa-envelope"></i> Seção Contato</span>
            </div>
        </div>
        <div class="table-farm-container">
            <div class="table-farm">
                <div class="titulo-editar">Título:</div>
                <input class="table-input" name="titulo_contato" value="{{site.titulo_contato}}"/>
                <div class="titulo-editar">Conteúdo:</div>
                <textarea class="table-input" name="conteudo_contato">{{site.conteudo_contato}}</textarea>
            </div>
        </div>
    </div>

    <!-- Seção Depoimentos -->
    <div class="section">
        <div class="cadastradas-container">
            <div class="cadastro-title-content">
                <span class="cadastro-title"><i class="fa-solid fa-comment"></i> Seção Depoimentos</span>
            </div>
        </div>
        <div class="table-farm-container">
            <div class="table-farm">
                <div class="titulo-editar">Título:</div>
                <input class="table-input" name="titulo_depoimentos" value="{{site.titulo_depoimentos}}"/>
                <div class="titulo-editar">Conteúdo:</div>
                <textarea class="table-input" name="conteudo_depoimentos">{{site.conteudo_depoimentos}}</textarea>
            </div>
        </div>
    </div>

    <!-- Seção Tabela -->
    <div class="section">
        <div class="cadastradas-container">
            <div class="cadastro-title-content">
                <span class="cadastro-title"><i class="fa-solid fa-table"></i> Seção Tabela</span>
            </div>
        </div>
        <div class="table-farm-container">
            <div class="table-farm">
                <div class="titulo-editar">Título:</div>
                <input class="table-input" name="titulo_tabela" value="{{site.titulo_tabela}}"/>
                <div class="titulo-editar">Conteúdo:</div>
                <textarea class="table-input" name="conteudo_tabela">{{site.conteudo_tabela}}</textarea>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button class="button-save" type="submit">Salvar Alterações</button>
        <button class="button-cancel" type="reset">Apagar alterações</button>
    </div>
</form>